
## Java
.mtj.tmp/
*.class
#*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

## Visual Studio Code
.vscode/
.code-workspace

## Miscellaneous
*.log

# personal preference to write down local changes, so they can easily be pasted into an upcomming commit
changelog.md